@import "./config_css/reset.scss";
@import "./config_css/variables.scss";

html{
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 42px;
  box-sizing: border-box;
  background: #1E1E1E;
  color: var(--branco);
}

main{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
}
